<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
</head>

<body id="page-top">

    <%- include('../partials/header'); %>
        <%- include('./home-events'); %>
            <%- include('./home-stores'); %>
            <%- include('./home-offers'); %>
            <%- include('./home-dine'); %>
                <%- include('./home-about'); %>
                <%- include('./home-team'); %>
                <%- include('./home-contact'); %>
               
                <%- include('../partials/foot'); %>
                <%- include('../partials/footer'); %>


</body>

</html>
