<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/store-page.css" />
    <title><%= storeDetails.store_name %></title>
</head>
<body>
</html>
<body>
    <div class="container">
        <div class="grid-container">
            <div class="grid-item item1">
                <img src="<%= storeDetails.url %>" alt="<%= storeDetails.store_name %>">
                <h6><b>Open Hours:</b></h6>
                <h6><b>Daily,from 10:00 AM Till 09:00 PM</b></h6>
            </div>
            <div class="grid-item item2">
                <h1style="font-size: 15px;><b><%= storeDetails.store_name %></b></h1>
            <hr size=" 4 " color="grey ">
            <h6 style="font-size: 20px; ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, laboriosam. Expedita illo sint corrupti nihil modi asperiores temporibus accusantium eligendi dolorum non eius maiores dolorem repudiandae, aspernatur dolore eos nam!
            </h6>
        </div>
        <div class="grid-item item3 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, vero expedita. Voluptatum debitis nostrum explicabo quo maiores, dolores animi qui nisi dolorem consectetur? Accusamus consectetur, delectus vero doloribus provident ut.</div>
        <div class="grid-item item4 ">
            <img src="<%= storeDetails.url1%>" width="250px ">
        </div>
        <div class="grid-item item5 ">
            <img src="<%= storeDetails.url2%>" width="250px ">
        </div>
        <div class="grid-item item6 ">
            <img src="<%= storeDetails.url3%>" width="250px ">
        </div>
    </div>
</div>
</body>